@use "src/styles";
@import "src/styles";

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    //@include styles.textTheme;
    h1{
        font:{
            family: 'Lato', sans-serif;
            size: 38px;
        }
        margin-top: 10px;
    }

    .btn{
        height: 25px;
        width: 74px;
        margin-top: 20px;
        padding: 0px;
        border: 1px solid;

        //@include styles.buttonTheme;
    }
}

p{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    font-size: 15px;
}

//.custom-control {
//    position: absolute;
//    top: 10px;
//    right: 10px;
//    label{
//        display: flex;
//        justify-content: space-between;
//        width: 210px;
//        //@include styles.textTheme;
//    }
//    span{
//        margin-left: 50px;
//    }
//}

.mat-button{
    margin: 3px;

}

mat-toolbar-row{
    position: absolute;
    right: 0px;
    margin: 10px;
    cursor: pointer;
}
