<div class='header'>
    <label class="red" *ngIf="!socketStatus">Server is OFFLINE</label>
    <button mat-button (click)="todos()">Back to ToDo</button>
    <button mat-button (click)="logOut()">Log Out</button>
</div>
<div class="frame">
    <div class="chat" scroll-to-bottom>
        <div class="all" *ngFor="let message of messages, index as i"
             [ngClass]="message.userName === userName ? 'right' : ''">
            <label class="user"
                   *ngIf="(messages[i-1] && messages[i-1].userName !== message.userName) || !messages[i-1]">
                {{message.userName}}
            </label>

            <label class="message" *ngIf="message.message">{{message.message}}
                <p class="time">
                    {{message.time}}
                    <i class="fas fa-check" [ngStyle]="message.mstatus ? {'color': '#c1bad9'} : {'color': 'grey'}"></i>
                </p>

            </label>
        </div>
    </div>

    <input type="text" [(ngModel)]="text" (keyup.enter)="sendMessage()">

</div>

<div class="users" >
    <label *ngFor="let user of online, index as i">
        {{user.username}}
        <p [ngClass]="user.status ? 'green' : 'red'">
            {{user.status ? 'online' : 'offline, last seen: '}} {{user.time}}
        </p>
    </label>
</div>
