button {
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    color: grey;
    margin: 5px;
    padding: 5px;
    &:hover {
        color: black;
        cursor: pointer;
    }
}

input {
    display: none;
}

label {
    margin: 5px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    .selected {
        border: {
            width: 1px;
            style: solid;
            color: grey;
            radius: 5px;
        }
    }
}
