@use "src/styles";
@import "src/styles";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    //@include styles.backgroundColor;
}



