@import "~ng-pick-datetime/assets/style/picker.min.css";
html,
body,
.view {
    height: 100%;
}

login {
    width: 100%;
    height: 100%;
}

$name: green;

@mixin mode($bgc, $textColor) {
    $name: $bgc;
    background-color: $name;
    color: $textColor;
}

