@import "~ng-pick-datetime/assets/style/picker.min.css";


$prim: var(--primary-colorr, white);
$secon: var(--secondary-colorr, black);

@mixin mode {
    background-color: $prim;
    color: $secon;
}


html,
body,
.view {
    height: 100%;
    @include mode;
}

login {
    width: 100%;
    height: 100%;
}

