input{
    width: 360px;
    margin: 10px;
    padding-bottom: 5px;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
}

input:focus{
    outline: none !important;
}